@import "tailwindcss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

/* Horizontal Bounce Animation */
@keyframes bounce-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}

/* Vertical Bounce Animation */
@keyframes bounce-y {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust bounce height */
  }
}

/* Rotation Animation */
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-triangle {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(50px, 0); /* Move horizontally */
  }
  66% {
    transform: translate(25px, -43px); /* Move to top point */
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Apply horizontal bounce animation */
.bounce-x {
  animation: bounce-x 3s linear infinite;
}

/* Apply vertical bounce animation */
.bounce-y {
  animation: bounce-y 2.5s ease-in-out infinite;
}

.triangle-shape {
  width: 100px; /* Adjust size if needed */
  height: auto;
  animation: move-triangle 5s linear infinite;
}

/* Apply rotation animation */
.rotate-circle {
  animation: rotate-circle 6s linear infinite;
}

@keyframes marquee-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-marquee-left {
  display: flex;
  animation: marquee-left 10s linear infinite;
  width: max-content;
}

.animate-marquee-right {
  display: flex;
  animation: marquee-right 10s linear infinite;
  width: max-content;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.rotate-circle {
  animation: marquee-right 10s linear infinite;
}


.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holographic-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.1s ease;
}

.holographic-card  {
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(253, 255, 255, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}